body{
	background:#C4B8A1;
	font-family: Century Gothic;
}
h1{
	font-family: Century Gothic;
	color:#FFFFFF;
}
h2{
	color:#DAD4C6;
	font-family: Happy Camper;

}
h3{
	font-family: Century Gothic;
	color:#FFFFFF;
}